<%- include('../partials/_head.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_message.ejs') %>
  <body>
    <div class="container">
        <form action="/alat_tangkap/store" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Alat</label>
                <input type="text" class="form-control" name="nama_alat_tangkap" required>
            </div>
            <div class="">
                <button type="submit" class="btn btn-sm btn-success">simpan</button>
      </div>
    </form>
</div>
<%- include('../partials/_foot.ejs') %>